<h1>ALL TASKS</h1>

<div class="links">
  <%= link_to "Add Task", new_task_path %>
</div>
<ul>
   <% @tasks.each do |task| %>
    <li>
      <div class="task_body <%= due_date_class task%>">
        <% if task.completion_date.nil? %>
          <%= link_to task_complete_path(task), :class => 'completeTaskBtn' do %>
            <i class='far fa-circle'></i>
          <% end %> 
        <% end %>
        <%= "<i class='far fa-check-circle'></i>".html_safe unless task.completion_date.nil? %>
        <div class ="taskBox">
          <span class="task_title <%= ' done' if task.completion_date != nil %>"> <%= task.title %></span>
          <span class="task_note"> (<%= task.note %>) </span>
        </div>
        <div class = "dueDateBox">
          <strong> (<%= task.dueDate %>) </strong>
        </div>
        <span class = "ud-icons">     
          <%= link_to edit_task_path(task) do %>
            <i class='far fa-edit'></i>
          <% end %>
          <%= link_to task_delete_confirmation_path(task) do %>
            <i class='fas fa-trash'></i>
          <% end %>
        </span>
      </div>
    </li>
  <% end %>
</ul>

