<h1>ALL TASKS</h1>

<div class="links">
  <%= link_to "Add Task", new_task_path %>
</div>
<ul>
   <% @tasks.each do |task| %>
    <li>
      <div class="task_body <%= due_date_class task%>">
        <%= link_to "<i class='far fa-circle'></i>".html_safe, task_complete_path(task), 
                                                                :class => 'completeTaskBtn' if task.completion_date.nil? %>
        <%= "<i class='far fa-check-circle'></i>".html_safe unless task.completion_date.nil? %>
        <div class ="taskBox">
          <span class="task_title <%= ' done' if task.completion_date != nil %>"> <%= task.title %></span>
          <span class="task_note"> (<%= task.note %>) </span>
        </div>
        <div class = "dueDateBox">
          <strong> (<%= task.dueDate %>) </strong>
        </div>
        <span class = "ud-icons">
          <%= link_to "<i class='far fa-edit'></i>".html_safe,  edit_task_path(task) %>
          <%= link_to "<i class='fas fa-trash'></i>".html_safe, task_delete_confirmation_path(task) %>
        </span>
      </div>
    </li>
  <% end %>
</ul>

