  <% if @task.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@task.errors.count, "error") %> prohibited
      this article from being saved:
    </h2>
    <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

<%= form_for :task, :url => url_for(:controller => 'task', :action => save_url(@task), :task_id => task.id) do |f| -%>
  <%= f.hidden_field :id %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'input-xxlarge' %>
  </div>

  <div class="field">
    <%= f.label :note %>
    <%= f.text_field :note, class: 'input-xxlarge' %>
  </div>
  <div class="field">
    <%= f.label :dueDate, 'Due Date' %>
    <%= datepicker_input f, :dueDate%>
  </div>
  <%= f.submit 'Save Task', :class => 'btn primary' %>
<% end %>