
<h1>TODO LIST APPLICATION</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Note</th>
    <th>Completion Date</th>
    <th></th>
    <th></th>
  </tr>
 
  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.title %></td>
      <td><%= task.note %></td>
      <td><%= task.completed %></td>
      <td><%= link_to 'Edit', task_edit_path(task) %></td>
      <td><%= link_to 'Destroy', task_delete_path(task),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>